[Unit]
Description=Mount NVMe Games Drive
Wants=media-games-setup.service
After=media-games-setup.service
Wants=local-fs.target
After=local-fs.target

[Mount]
What=/dev/disk/by-uuid/59f39742-95a0-4e77-9e05-67d5c15e9746
Where=/media/games/nvme
Type=btrfs
Options=noatime,nodiratime,nofail,ssd,space_cache=v2,commit=120,compress=zstd:3,subvol=/,user,x-systemd.automount,x-systemd.idle-timeout=300

[Install]
WantedBy=multi-user.target